@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin: 2rem;
    font-family: 'Roboto', sans-serif;
}

button{
    color:#617070;
    
    background-color: #c2dadd;  
    border-radius: 0.5rem;
    border:none;  
    padding: 0.5rem;
    font-weight: bold;
}

.searchBar{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    
}

.noBookFound{
    display: none;
}

.book{
    display: flex;
    flex-direction: row;
    border: 1px solid lightgrey;    
    border-radius: 0.5rem;
}

.coverContainer{
    margin: 0.5rem;
    border: 1px solid lightgrey;   
    width: 120px;
    display: flex;
    align-items: center;
}

.coverContainer img{
   width: 100%;
}

.info{
    padding: 0.5rem;    
    flex-grow: 1;
    color:rgb(49, 48, 48);
}


.info p{
    margin:10px;
}

.info_authors{
    font-weight: bold;
    font-size: 18px;
}

.info_publishingDetails{
    font-size: 14px;
}

span{
    display: inline-block;
}

.addToBibliography{
display: none;
align-self: flex-end;
font-size: 2rem;
}

.biblioLegend{  
    display: inline-block;  
    background-color: #c2dadd;  
    border: 1px solid lightgrey;    
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 1rem; 
    margin-bottom: 0;
}

#italics{
    background-color: #c2dadd;  
    border: 1px solid lightgrey;    
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 1rem;
}

.exportButton{
float: inline-end;
font-size: 14px;
border: 1px solid lightgrey;  
margin-top: 0.5rem;
}