@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin: 2rem;
    font-family: 'Roboto', sans-serif;
}

.searchBar{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    justify-content: space-around;
}

.book{
    display: flex;
    flex-direction: row;
    background-color: blue;
}

.coverContainer{
    padding: 0.5rem;
}

.biblio{
    padding: 0.5rem;
    background-color: green;
    flex-grow: 1;
}
