@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin: 2rem;
    font-family: 'Roboto', sans-serif;
}

button{
    color:#617070;
    
    background-color: #c2dadd;  
    border-radius: 0.5rem;
    border:none;  
    padding: 0.5rem;
    font-weight: bold;
}

.searchBar{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    
}

.noBookFound{
    display: none;
}

.book{
    display: flex;
    flex-direction: row;
    border: 1px solid lightgrey;    
    border-radius: 0.5rem;
}

.coverContainer{
    margin: 0.5rem;
    border: 1px solid lightgrey;   
    width: 120px;
    display: flex;
    align-items: center;
}

.coverContainer img{
   width: 100%;
}

.info{
    padding: 0.5rem;    
    flex-grow: 1;
    color:rgb(49, 48, 48);
}


.info p{
    margin:10px;
}

.info_authors{
    font-weight: bold;
    font-size: 18px;
}

.info_publishingDetails{
    font-size: 14px;
}

.addToBibliography{
display: none;
align-self: flex-end;
font-size: 2rem;
}

